CC = i686-w64-mingw32-gcc
CXX = i686-w64-mingw32-g++
CPP = i686-w64-mingw32-cpp
WINDRES = i686-w64-mingw32-windres
RANLIB = i686-w64-mingw32-ranlib
AR = i686-w64-mingw32-ar
ROOT_PATH = /usr/i686-w64-mingw32
CMAKE_SYSTEM_NAME = Windows
AUTOTOOLS_HOST = i686-pc-windows
SHARED_LIBRARY_PREFIX =
SHARED_LIBRARY_POSTFIX = .dll
CFLAGS = -g
CXXFLAGS = -g
