SYSTEM_NAME = Windows
ARCHITECTURE = x86_64
CC = x86_64-w64-mingw32-gcc
CXX = x86_64-w64-mingw32-g++
CPP = x86_64-w64-mingw32-cpp
WINDRES = x86_64-w64-mingw32-windres
RANLIB = x86_64-w64-mingw32-ranlib
AR = x86_64-w64-mingw32-ar
ROOT_PATH = /usr/x86_64-w64-mingw32
AUTOTOOLS_HOST = x86_64-w64-mingw32
SHARED_LIBRARY_PREFIX =
SHARED_LIBRARY_POSTFIX = .dll
EXECUTABLE_POSTFIX = .exe
CMAKE_BUILD_TYPE = Debug
CFLAGS = -g
CXXFLAGS = -g
EXTRA_FILES += $(ROOT_PATH)/bin/libgcc_s_seh-1.dll
EXTRA_FILES += $(ROOT_PATH)/bin/libstdc++-6.dll
